myhub/bin/Debug/net5.0/appsettings.Development.json
myhub/bin/Debug/net5.0/appsettings.json
myhub/bin/Debug/net5.0/myhub.deps.json
myhub/bin/Debug/net5.0/myhub.dll
myhub/bin/Debug/net5.0/myhub.pdb
myhub/bin/Debug/net5.0/myhub.runtimeconfig.dev.json
myhub/bin/Debug/net5.0/myhub.runtimeconfig.json
myhub/bin/Debug/net5.0/ref/myhub.dll
myhub/obj/myhub.csproj.nuget.dgspec.json
myhub/obj/myhub.csproj.nuget.g.props
myhub/obj/myhub.csproj.nuget.g.targets
myhub/obj/project.assets.json
myhub/obj/project.nuget.cache
myhub/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
myhub/obj/Debug/net5.0/myhub.AssemblyInfo.cs
myhub/obj/Debug/net5.0/myhub.AssemblyInfoInputs.cache
myhub/obj/Debug/net5.0/myhub.assets.cache
myhub/obj/Debug/net5.0/myhub.csproj.CoreCompileInputs.cache
myhub/obj/Debug/net5.0/myhub.csproj.FileListAbsolute.txt
myhub/obj/Debug/net5.0/myhub.csprojAssemblyReference.cache
myhub/obj/Debug/net5.0/myhub.dll
myhub/obj/Debug/net5.0/myhub.GeneratedMSBuildEditorConfig.editorconfig
myhub/obj/Debug/net5.0/myhub.genruntimeconfig.cache
myhub/obj/Debug/net5.0/myhub.MvcApplicationPartsAssemblyInfo.cache
myhub/obj/Debug/net5.0/myhub.pdb
myhub/obj/Debug/net5.0/myhub.RazorTargetAssemblyInfo.cache
myhub/obj/Debug/net5.0/project.razor.json
myhub/obj/Debug/net5.0/ref/myhub.dll
myhub/obj/Debug/net5.0/staticwebassets/myhub.StaticWebAssets.Manifest.cache
myhub/obj/Debug/net5.0/staticwebassets/myhub.StaticWebAssets.xml
